.card {
  width: auto;
  font-size: 1rem;
  margin: 0.3rem;
  min-width: 24rem;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  margin-top: 0.3rem;
  border-top: 1px solid #e0e0e0;
}
