.container {
    width: 80%;
    min-width: 650px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    margin-top: 3rem;
}

.container p {
    font-size: 1.5rem;
    color: rgb(118, 115, 115);
}
